In [56]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [57]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

backers_info = pd.read_csv('backer_info.csv')
backers_info

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [58]:

# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backers_info.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [k for v, k in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
# print(dict_values)

In [59]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.
backers_df = pd.DataFrame(dict_values, columns=['backer_id','cf_id', 'name','email'])
backers_df.sample(5)

     backer_id  cf_id             name                email
3202     mh955     65  Marline Huffman   mhuffman@yahoo.com
3433     dg475     65     Darrel Grant     dgrant@yahoo.com
3019     bg105    563   Bertram Gehrig  bgehrig@outlook.com
421      np469     65   Nadene Pittman   npittman@yahoo.com
5252     yb752   1572      Yaelle Beck    ybeck@outlook.com

In [60]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# backers_df_export = backers_df.to_csv('backers.csv',encoding='utf8',index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [61]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info = pd.read_csv('backer_info.csv')

backers_info.sample(5)

                                                                                            backer_info
6366           {"backer_id": "fg298", "cf_id": 65, "name": "Filipo Gemma", "email": "fgemma@gmail.com"}
5459               {"backer_id": "lu220", "cf_id": 65, "name": "Lino Ucci", "email": "lucci@gmail.com"}
1565            {"backer_id": "jm515", "cf_id": 65, "name": "Jina Mathis", "email": "jmathis@live.com"}
4443            {"backer_id": "mp110", "cf_id": 1114, "name": "Merle Paul", "email": "mpaul@gmail.com"}
528   {"backer_id": "ws476", "cf_id": 968, "name": "Williams Sargent", "email": "wsargent@outlook.com"}

In [62]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_df = backers_info.copy()
backers_df['backer_id'] = backers_info['backer_info'].str.extract(r'(\w{2}\d{3})')
backers_df.sample(5)

,backer_info,backer_id
3037,"{""backer_id"": ""sd897"", ""cf_id"": 563, ""name"": ""Sabato Dunlap"", ""email"": ""sdunlap@yandex.com""}",sd897
3530,"{""backer_id"": ""gh623"", ""cf_id"": 1572, ""name"": ""Gabi Heinrich"", ""email"": ""gheinrich@protonmail.com""}",gh623
7925,"{""backer_id"": ""mg371"", ""cf_id"": 2284, ""name"": ""Mikel Guilbaud"", ""email"": ""mguilbaud@live.com""}",mg371
7813,"{""backer_id"": ""or256"", ""cf_id"": 238, ""name"": ""Otoniel Reeves"", ""email"": ""oreeves@live.com""}",or256
3747,"{""backer_id"": ""sl860"", ""cf_id"": 968, ""name"": ""Santos Lamb"", ""email"": ""slamb@gmail.com""}",sl860

In [63]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_df['cf_id'] = backers_info['backer_info'].str.extract(r'\s(\d{2,4}),')
backers_df.sample(5)

,backer_info,backer_id,cf_id
6588,"{""backer_id"": ""jr751"", ""cf_id"": 65, ""name"": ""Junior Rivera"", ""email"": ""jrivera@yandex.com""}",jr751,65
4356,"{""backer_id"": ""kc853"", ""cf_id"": 563, ""name"": ""Katelynn Cunningham"", ""email"": ""kcunningham@protonmail.com""}",kc853,563
793,"{""backer_id"": ""fo113"", ""cf_id"": 65, ""name"": ""Federico Odom"", ""email"": ""fodom@protonmail.com""}",fo113,65
752,"{""backer_id"": ""mh322"", ""cf_id"": 65, ""name"": ""Melyna Hutchinson"", ""email"": ""mhutchinson@yahoo.com""}",mh322,65
6063,"{""backer_id"": ""vc377"", ""cf_id"": 1572, ""name"": ""Vittorio Cioppa"", ""email"": ""vcioppa@outlook.com""}",vc377,1572

In [64]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_df['name'] = backers_info['backer_info'].str.extract(r'"([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
backers_df.sample(5)

,backer_info,backer_id,cf_id,name
3374,"{""backer_id"": ""sa835"", ""cf_id"": 1572, ""name"": ""Sammy Avril"", ""email"": ""savril@gmail.com""}",sa835,1572,Sammy Avril
6023,"{""backer_id"": ""th431"", ""cf_id"": 563, ""name"": ""Tiera Heidrich"", ""email"": ""theidrich@outlook.com""}",th431,563,Tiera Heidrich
6659,"{""backer_id"": ""gb181"", ""cf_id"": 65, ""name"": ""Gianfranco Banks"", ""email"": ""gbanks@gmail.com""}",gb181,65,Gianfranco Banks
4876,"{""backer_id"": ""pm379"", ""cf_id"": 563, ""name"": ""Pia Mckee"", ""email"": ""pmckee@outlook.com""}",pm379,563,Pia Mckee
1838,"{""backer_id"": ""co811"", ""cf_id"": 65, ""name"": ""Chadwick Owens"", ""email"": ""cowens@protonmail.com""}",co811,65,Chadwick Owens

In [65]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_df['name'] = backers_info['backer_info'].str.extract(r'"([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
backers_df.sample(5)

,backer_info,backer_id,cf_id,name
3048,"{""backer_id"": ""rp883"", ""cf_id"": 65, ""name"": ""Rubie Pinsonneault"", ""email"": ""rpinsonneault@yandex.com""}",rp883,65,Rubie Pinsonneault
3832,"{""backer_id"": ""mp979"", ""cf_id"": 563, ""name"": ""Mason Pavan"", ""email"": ""mpavan@yahoo.com""}",mp979,563,Mason Pavan
1253,"{""backer_id"": ""gh342"", ""cf_id"": 563, ""name"": ""German Havener"", ""email"": ""ghavener@yandex.com""}",gh342,563,German Havener
6654,"{""backer_id"": ""eb779"", ""cf_id"": 65, ""name"": ""Eliott Bilodeau"", ""email"": ""ebilodeau@live.com""}",eb779,65,Eliott Bilodeau
7577,"{""backer_id"": ""lm597"", ""cf_id"": 968, ""name"": ""Luna Martignetti"", ""email"": ""lmartignetti@yahoo.com""}",lm597,968,Luna Martignetti

In [66]:
# Create a new DataFrame with the appropriate columns.
backers_df['email'] = backers_info['backer_info'].str.extract(r'"(\S+@\S+)"')
backers_df = backers_df.drop(['backer_info'], axis=1)
backers_df.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582  1572     Armonda Trani        atrani@live.com
8     id772  1911        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [67]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# contact_export = backers_df.to_csv('Data/backers.csv',encoding='utf8',index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [68]:
# Check data types.
backers_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [69]:
# Convert cf_id to an integer if necessary.
backers_df['cf_id'] = backers_df['cf_id'].astype('int')
backers_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [70]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[['first_name','last_name']] = backers_df['name'].str.split(' ',n=1,expand=True)

In [71]:
#  Drop the name column
backers_df = backers_df.drop(['name'],axis=1)

# Reorder the columns
backers_df = backers_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]

In [72]:
# Export the DataFrame as a CSV file using encoding='utf8'.
contact_export = backers_df.to_csv('Data/backers.csv',encoding='utf8',index=False)

In [73]:
backers_df

     backer_id  cf_id first_name  last_name                  email
0        av166    968     Angelo    Vincent      avincent@live.com
1        ha127    563     Hubert     Arnold     harnold@yandex.com
2        lg794     65      Loris     Goulet     lgoulet@yandex.com
3        tb566    563    Teodora   Brunelli  tbrunelli@outlook.com
4        lh506    563      Lexie       Hunt         lhunt@live.com
...        ...    ...        ...        ...                    ...
8170     st581     65     Serita   Thebault   sthebault@yandex.com
8171     gf637    563      Glenn  Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt     Collin    rcollin@outlook.com
8173     cz381     65     Corina      Zappa     czappa@outlook.com
8174     fg535     65    Freeman      Gibbs     fgibbs@outlook.com

[8175 rows x 5 columns]